* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    max-width:100%;
    overflow-x: hidden;
    overflow:auto
  }
  
  #skills ul {
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    margin-left:30px;
    width:100%;
    justify-content:center
  }
  #skills ul li{
    list-style-type: none;
    padding:12px 0px 10px 0px ;
    text-align:center;
   /* z-index:1;*/
    margin-left:20px;
    border:1px solid #fff;
    border-radius:50%;
    width:60px;
    height:60px;
    background:#90A4AE;
    font-weight:900
    
  }
  
  #navbar {
    display: flex;
    width: 100%;
    list-style-type: none;
    z-index: 1;
    position: fixed;
    top: 0px;
    background-color: #263238;
  }
  #navbar a {
    color: #fff;
    padding-right: 80px;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    /*display:block*/
  }
  #welcome-section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    padding-top: 100px;
    background: url("https://previews.123rf.com/images/svetlanaborovkova/svetlanaborovkova1806/svetlanaborovkova180600478/103039348-black-3d-developer-background-with-web-symbols-vector-illustration-.jpg");
    opacity: 0.85;
    background-size: cover no-repeat;
   overflow:hidden
  }
  #intro {
    margin-left: 30px;
     overflow:hidden
  }
  #welcome-section #intro #myPhoto {
    border-radius: 50%;
    border: solid 1px #fff;
    z-index:1
  }
  #svg{
    overflow:hidden
  }
  
  #welcome-section figcaption {
    color: #fff;
    font-family: "Bad Script", cursive;
    text-align: left;
    width: 220px;
    padding-top: 20px;
   
  }
  h1 {
    font-size: 100px;
    color: #263238;
  }
  
  button {
    display: block;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 60px auto;
    width: 200px;
    height: 80px;
    border-radius: 50%;
    background-color: #263238;
    opacity: 0.85;
    font-family: "Dancing Script", 
      cursive;
    border: none;
    
  }
  button:focus {
  outline: 0;
  }
  
  .work {
   
    margin-left: 100px;
    
  }
  
  .project-pic {
    border-radius: 50%;
    margin: 40px;
    filter: grayscale(0);
  }
  .work figure {
    background-color: #37474f ;/*#263238*/
    display:inline-flex;
    position: relative;
    margin-right: 20px;
    margin-left:20px;
    margin-bottom: 60px;
    transform-style: preserve-3d;
    transition: 0.35s ease-in-out;
    width:200px;
    height:200px;
    border-radius:50%;
    
  }
   .project-title {
    position: absolute;
    left: 50px;
    top:70px;
    border: none;
    color: #263238; 
  }
  
  }
  .project-pic:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .work figure:hover {
    background-color: #fff;
  }
  footer {
    background-color: #9e9e9e;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
  }
  footer a {
    color: #fff;
   /* visibility: hidden;
    padding-top:40px;*/
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
    text-decoration: none;
  }
  footer #icon{
    display:flex;
    margin-top: -10px;
  }
 /* #tweet {
    float: right;
  }*/
  #navbar a:hover {
    color: black;
  }
  
  nav ul li:hover > ul {
    display: block;
    position: absolute;
  }
  p {
    margin-top: 10px;
    color: #fff;
  }
  #sec_box {
    display: none;
    flex-wrap: wrap;
    margin-left: 100px;
  }
  footer a:hover {
    color: black;
    text-decoration: none;
  }
  nav ul li > ul {
    display: none;
    color: #fff;
    list-style-type: none;
  }
  
  @media (max-width: 670px) {
    .work figure,#intro,#skills ul {
     /* margin-right: 0px;
      margin-left: 0px;*/
      margin: 20px auto;
     
    }
  
   
    #navbar a {
      font-size: 22px;
    }
  
  }
  